/*Color and button themes*/
.pink{
    color: #d665a7;
}

.blue{
    color: #5496c2;
}

.yellow{
    color:#d8b82b;
}

.red{
  color:#b61c1c;
}

.pinkButton{
    background-color: #c45e99;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.pinkButton:hover{
    background-color: #a15d85;
}

.blueButton{
    background-color: #5496c2;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    float:right;
}

.blueButton:hover{
    background-color: #5e7daa;
}

.yellowButton{
    background-color: #d8b82b;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.yellowButton:hover{
    background-color: #b19102;
}

.redButton{
  background-color: #b61c1c;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.redButton:hover{
    background-color: #be5a5a;
}

.rightBtn{
    float: right;
}

.leftBtn{
    float: left;
}

/* Dropdown Button */
.dropbtn {
  background-color:transparent;
  color: rgba(255,255,255,.5);
  position: relative;
  align-items: center;
  border: none;
  padding: 0%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  width: inherit;
  padding-left: 1ch;
  padding-right: 1ch;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: #ffff;}
  
/*Contact form*/
  form{
      transition: all 4s ease-in-out;
  }

  .form-control{
    width: 600px;
    font-size: 18px;
  }

  input[type=submit] {
    background-color: #5496c2;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  input[type=submit]:hover {
    background-color: #5e7daa;
  }

.chapter-logo{
    float:right;
}

/*Bio section*/
.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.column p {
  text-align: left;
}

.column h5 {
  padding: 15px 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}  

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.centerHeader{
  text-align: center;
}
